.database {
    margin-bottom: 10px;
}

input {
    line-height: 1.5;
    padding: calc(var(--ifm-button-padding-vertical))
      calc(var(--ifm-button-padding-horizontal) / 2);
    font-size: calc(0.875rem * var(--ifm-button-size-multiplier));
    border: 1px solid var(--ifm-color-emphasis-300);
    border-radius: var(--ifm-button-border-radius);
    margin: 0.5rem;
}